{% extends "menu.html" %}
{% load static %}
{% load livereload_tags %}
{% livereload_script %}
{% load icons %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
    
        }

        .form-container {
            background-color: #1F2B5B;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 500px; 
        }

        h1 {
            color: #000;
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;
        }

   

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        .form-group textarea {
            resize: vertical; /* Permite o redimensionamento vertical */
            height: 100px; /* Altura inicial para a textarea */
        }

        .form-group button {
            background-color: #fff;
            color: black;
            border: none;
            padding: 10px;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
        }
        .circle {
            width: 100px; /* Ajuste o tamanho do círculo */
            height: 100px; /* Ajuste o tamanho do círculo */
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 20px; /* Centraliza o círculo e adiciona margem inferior */
        }
        
        .circle img {
            width: 100%;
            height: auto;
            display: block;
        }
        .form-group button:hover {
            background-color: #163b69; /* Cor do botão ao passar o mouse */
        }
    </style>
</head>
<body>
    <div class="center">
<h1 class="icon">Contato<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512"><path d="M453.5 209.8c-4-4-158.3-161.4-158.3-161.4C284.8 37.8 270.9 32 256 32c-14.9 0-28.8 5.8-39.2 16.5 0 0-153.6 156.5-158.3 161.4C53.9 214.7 48 224.7 48 236v212c0 17.6 14.4 32 32 32h352c17.6 0 32-14.4 32-32V235c0-11.7-6.6-21.1-10.5-25.2zm-19.4 42.3L353 336.9c-.8.8-.8 2 0 2.8l75.3 80.2c5.1 5.1 5.1 13.3 0 18.4-2.5 2.5-5.9 3.8-9.2 3.8s-6.7-1.3-9.2-3.8l-151-161.2c-1.6-1.7-4.3-1.7-5.8 0L102.2 438.2c-2.5 2.5-5.9 3.8-9.2 3.8s-6.7-1.3-9.2-3.8c-5.1-5.1-5.1-13.3 0-18.4l75.3-80.2c.7-.8.7-2 0-2.8L77.7 252c-9.7-9.9-2.4-35.8 16.1-35.8h324.4c16.5-.1 25.6 26.1 15.9 35.9z" fill="currentColor"></path></svg></h1>
<p>Estamos ansiosos para te ouvir! Envie a sua mensagem explicando a melhor forma para resolvermos a sua necessidade.</p>
    </div>
    <div class="container">
        <div class="form-container">
            <div class="circle">
                <img src="{% static "img/gtmais.png" %}" alt="Imagem no Círculo">
            </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style="color:white;">
                  
                    {{ contato_form.as_p }}
                </div>
                    <div class="form-group">
                        <button type="submit">Enviar Contato</button>
                    </div>
                </form>
        </div>
    </div>

{% endblock %}
