{% extends "menu.html" %}
{% load static %}
{% load livereload_tags %}
{% livereload_script %}
{% load icons %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ações de Extensão</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icones@1.0.0/dist/icones.min.css">
    <script src="https://cdn.jsdelivr.net/npm/icones@1.0.0/dist/icones.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
   
  
       
          <div style="   margin: 0 auto;
            display: grid;
            place-items: center;">
            <h1>Portifólio de Ações de Extensão</h1>
        <form id="filtro" class="formfiltro" method="get" action="{% url 'extensoes' %}">
        <div class="pesquisar">
            <input type="text" name="search" placeholder="Pesquisar" value="{{ search_term }}">
            <button type="button" onclick="filtroDiv()">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
                    <path fill="#ffffff" d="M16 120h480v48H16zm80 112h320v48H96zm96 112h128v48H192z"></path>
                </svg>
            </button>
            </div>
        <div class="selects">
            <div>
                <p>Localidade</p>
                <select name="Estados" id="Estados">
                    <option value="">Nacional
                    </option>
                    {% for estado in estados %}
                    <option value="{{ estado.idEstado }}" {% if estado.idEstado|stringformat:"s" == search_estado %}selected{% endif %}>
                        {{ estado.Estado }}
                    </option>
                    {% endfor %}
                </select>
                </div>
                <div>
                    <p>Ordenar por</p>
                <select name="order_direction" id="order_direction">
                    <option value="asc" {% if order_direction == 'asc' %}selected{% endif %}><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm14 226c0 7.7-6.3 14-14 14h-96c-7.7 0-14-6.3-14-14s6.3-14 14-14h82V128c0-7.7 6.3-14 14-14s14 6.3 14 14v146z" fill="currentColor"></path></svg>Recentes</option>
                    <option value="desc" {% if order_direction == 'desc' %}selected{% endif %}>Antigos</option>
                </select>
            </div>
        <div>
            <p>Situação</p>
            <select  name="situacao" id="situacao">
                {% for situacao in situacoes %}
                <option value="{{ situacao.idSituacao }}" {% if situacao.idSituacao|stringformat:"s" == search_situacao %}selected{% endif %}>
                    {{ situacao.nomeSituacao }}
                </option>
                {% endfor %}
        </select>
    </div>
</div>
        <!--   <div>
            <label for="localizacao">Filtrar por Localização:</label>
            <select name="localizacao" id="localizacao">
                <option value="">Localização</option>
                <option value="Nacional" {% if search_localizacao == 'Nacional' %}selected{% endif %}>Nacional</option>
                <option value="Sala" {% if search_localizacao == 'Sala' %}selected{% endif %}>Sala</option>
            </select>
        </div>

        <div>
          
            <select name="order_by">
                <option value="idAcao" {% if order_by == 'idAcao' %}selected{% endif %}>ID</option>
                <option value="TituloAcao" {% if order_by == 'TituloAcao' %}selected{% endif %}>Título</option>
                <option value="coordenadorAcao" {% if order_by == 'coordenadorAcao' %}selected{% endif %}>Coordenador</option>
                <option value="localizacao" {% if order_by == 'localizacao' %}selected{% endif %}>Localização</option>
                <option value="dtCriacao" {% if order_by == 'dtCriacao' %}selected{% endif %}>Data de Criação</option>
            </select>

       
    </div>--> 
<br><br>
    <div id="amplia" class=" amplia">
        
        <div class="checkbox-group" name="situacao" id="situacao">
            <p>Exibição</p>
            <label>Tipo</label>
            {% for tipo in tipos %}
                <div class="checkbox-item">
                    <input type="checkbox" id="{{ tipo.idTipo }}" name="tipo" value="{{ tipo.idTipo }}" 
                           {% if tipo.idTipo|stringformat:"s" == search_tipo %}checked{% endif %}>
                    <label for="{{ tipo.idTipo }}">{{ tipo.nomeTipo }}</label>
                </div>
            {% endfor %}
        </div>
    <div class="form-group">
        <p>Data</p>
        <label>De</label><br>
        <input type="date" name="data_inicio" placeholder="Data Início" value="{{ data_inicio }}">
        <br> <label>Até</label><br>
        <input type="date" name="data_fim" placeholder="Data Fim" value="{{ data_fim }}">
    </div>   </div>
        <button type="submit">Aplicar Filtros</button>
    </form>
    
            {% for acao in page_obj  %}
       
            <a href="{% url 'projeto' acao.idAcao %}">

            <div class="containerproject">
                <img src="{{ acao.imagem.url  }}" alt="{{ acao.TituloAcao }}">
            <div class="text">
             
                <p style="font-size:24px;">{{ acao.TituloAcao }}</p>
                <p>{{ acao.coordenadorAcao }}</p>
                <!--     
                   <p>{{ acao.idAcao }}</p>           
                <td>{{ acao.alunoAcao }}</td>
                <td>{{ acao.idTipo.nomeTipo }}</td>
                <td>{{ acao.idSituacao.nomeSituacao }}</td>
                <td>{{ acao.dtCriacao }}</td>
                <td>{{ acao.dtModificacao }}</td>
                <td>{{ acao.dtInicio }}</td>
                <td>{{ acao.dtFim }}</td>
                <td>{{ acao.localizacao }}</td>
            </tr>-->
        </div>
    </div>
</a><br>
            {% empty %}
            <tr>
                <td colspan="11">Nenhuma ação encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<center>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        <a href="?page={{ num }}">{{ num }}</a>
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
{% endif %}
     
    </span>
</div>
</center>
<script>
    function filtroDiv() {
        var filtro = document.getElementById("filtro");
        var content = document.getElementById("amplia");
        if (content.style.display === "none") {
            content.style.display = "flex";
          
            filtro.classList.add("box-shadow");
            content.classList.add("select");
            
        } else {
            content.style.display = "none";
            content.classList.remove("select");
            filtro.classList.remove("box-shadow");
        }
    }
</script>
{% endblock %}
